/* default css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #ffffff; */
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  list-style: none;

  /* border: 1px solid red; */
}

html,
body {
  font-size: 62.5%;
  background-color: #a4ac96;
}
img {
  border-radius: 3px;
}

/* Navbar  */
.navbar {
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
  position: sticky;
  top: 0;
  margin-bottom: 3.2rem;
  padding: 1rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 20%;
}
.hamburger {
  font-size: 3.2rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* hero section */
.hero-sec {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}
/* hero image section  */
.hero-img {
  width: 90%;
}
/* hero descriptiuon section   */

.des-1 {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dis-50 {
  text-align: center;
  width: 40%;
  height: 40px;
  /* border: 2px solid black; */
  background-color: #149f39;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.txt {
  font-size: 1.5rem;
  color: #ffffff;
}

.tagline {
  font-size: 5rem;
  width: 80%;
}
.description {
  width: 60%;
  font-size: 0.9rem;
  opacity: 0.7;
  margin-top: 20px;
}
.btn-explore {
  margin-top: 20px;
  width: 30%;
  height: 40px;
  background-color: #ffc066;
  color: #ffffff;
  border: transparent;
}

.perks {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid black; */

  max-width: 1100px;
  margin: 0 auto;
}
.perk {
  /* border: 1px solid black; */
  margin-top: 30px;
  display: flex;
  width: 30%;
}
.perk-Img {
  width: 25%;
  margin: 5px 5px 0px;
}
.perk-info {
}
.perk-head {
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 3px;
}
.perk-des {
  font-size: 1.1rem;
  opacity: 0.7;
  margin-left: 20px;
  margin-right: 3px;
  margin-top: 5px;
}
@media (max-width: 768px) {
  .hero-sec {
    flex-direction: column;
  }
  .hero-img-div {
    display: flex;
    justify-content: center;
  }
  .hero-img {
    width: 80%;
    /* display: flex; */
    /* justify-content: center; */
  }
  .tagline {
    width: 100%;
  }

  .description {
    width: 100%;
  }
  .perks{
    flex-direction: column;
    align-items: center;
    
  }
  .perk{
    width: 80%;
    
  }
}
/* grid section of pics  */
